* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

header {
  background: #f4f4f4;
  color: #0084ff;
  text-align: center;
  font-size: 32px;
  margin: -10px;
}

header h1 {
  text-shadow: 2px 2px 4px rgba(2, 79, 124, 0.664);
}

main {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.gameboards {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  gap: 10px;
}

#winner-screen {
  background: #ffffffea;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  color: #0084ff;
  text-shadow: 2px 2px 4px rgba(2, 79, 124, 0.664);
  font-size: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: absolute;
  height: 100%;
  width: 400px;
  z-index: 1000;
}

#player {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 20px;
  padding-top: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
}

#npc {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 20px;
  padding-bottom: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
}

h2 {
  margin: 5px;
}

#player-gameboard,
#npc-gameboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1px;
  justify-content: center;
  align-items: center;
  padding: 1px;
  box-sizing: border-box;
  background-color: rgba(0, 255, 255, 0.308);
  border: 2px solid rgb(0, 110, 255);
}

.cell {
  width: calc(10% - 1px);
  height: calc(10% - 1px);
  box-sizing: border-box;
  border: 2px solid rgb(0, 110, 255);
}

.ship {
  background-color: navy;
}

/* .npc-ship {
  background-color: navy;
} */

.hit {
  background-color: red;
}

.miss {
  background-color: grey;
}

.gameboard {
  width: 320px;
  height: 320px;
}

#error-message {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}
.error {
  background-color: rgba(255, 0, 0, 0.9);
  color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#fleet-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

footer {
  background: #f4f4f4;
  color: #0084ff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

footer p {
  margin: 0;
}

/* Responsive styling */
@media (max-width: 768px) {
  .content {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  header {
    padding: 15px;
  }

  .content {
    padding: 10px;
  }
}
